<project name="checkstyle">
    <target name="checkstyle" depends="compile">
        <checkstyle 
            config="${conf.dir}/checkstyle.xml"
            classpathref="compile.classpath"
            >
            <property key="checkstyle.header.file" value="${conf.dir}/java.header" />
            <fileset dir="${java.src.dir}" includes="**/*.java" />
        </checkstyle>
    </target>
</project>
